.title {
    margin: 0.3em 0;
    font-size: 4em;
    text-align: center;
    font-weight: 500;
}

.content {
    background-image: url('https://raw.githubusercontent.com/nisrulz/android-dev-wrapped-generator/master/public/base_template.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 612px;
    color: white;
    background-position: top right;
}

.content>p {
    font-size: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 300px
}

.content>.pt1 {
    top: 130px;
    left: 50px;
}

.content>.pt2 {
    top: 190px;
    left: 45px;
}

.content>.pt3 {
    top: 230px;
    left: 48px;
}

.content>.pt4 {
    top: 265px;
    left: 48px;
}

.content>.pt5 {
    top: 299px;
    left: 50px;
}

.information {
    text-align: left;
    margin-top: 35px;
}

.information p {
    text-align: left;
    margin: 0 0 5px 0;
    font-weight: bold;
    font-style: italic;
}

.information input {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
    border-radius: 8px;
}
