.title {
    margin: 0.3em 0;
    font-size: 4em;
    text-align: center;
    font-weight: 500;
}

.content {
    background-image: url('https://raw.githubusercontent.com/nisrulz/android-dev-wrapped-generator/master/public/base_template.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 612px;
    color: white;
    background-position: top right;
}

.content>p {
    font-size: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 300px
}

.content>.pt1 {
    top: 130px;
    left: 50px;
}

.content>.pt2 {
    top: 190px;
    left: 45px;
}

.content>.pt3 {
    top: 230px;
    left: 48px;
}

.content>.pt4 {
    top: 265px;
    left: 48px;
}

.content>.pt5 {
    top: 299px;
    left: 50px;
}

.information {
    text-align: left;
}

.information p {
    text-align: left;
    margin: 0 0 5px 0;
    font-weight: 500;
}

.information input {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
    border-radius: 8px;
}

/* Button Animation */
button {
    margin: 50px;
    font-family: inherit;
}

/* Fill button styling */
.fill {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.fill::after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.fill:hover::after {
    top: 0px;
    left: 0px;
}

/* End of Slide Button  */